importFrom(fs, "path_package")
importFrom(magrittr, "%>%")
import(MS.Analysis)
import(R6)
import(XML)
import(base64enc)
export(chromatogramInfo.AgilentExport)
export(readChromatogram.AgilentExport.memory)
export(readChromatogram.AgilentExport)
export(peakListInfo.AgilentExport)
export(readPeaklist.AgilentExport.memory)
export(readPeaklist.AgilentExport)
export(mzData)
